Repository retaildevcrews/webvalidate, pull requests merged in 2020-02, with the labels that each got.

#8 Update command line / env var handling
  src/Constants.cs
  src/Program.cs
  src/TestFiles/baseline.json
  src/TestFiles/benchmark.json
  src/WebValidation/Main.cs
  src/WebValidation/TimerRequestState.cs
  src/config.cs
Labels: WebV

#9 Add App Insights Telemetry
  src/Constants.cs
  src/Metrics.cs
  src/Program.cs
  src/WebVMetrics.cs
  src/WebValidation/Main.cs
  src/config.cs
  src/webvalidate.csproj
Labels: WebV

#11 Updated App Insights Custom Event
  src/WebVMetrics.cs
  src/WebValidation/Main.cs
Labels: WebV

#12 updated event names per retro
  src/WebVMetrics.cs
Labels: WebV

#13 merged helium templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/checkpoint.md
  .github/ISSUE_TEMPLATE/designreview.md
  .github/ISSUE_TEMPLATE/dod-review.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/release.md
  .github/ISSUE_TEMPLATE/retro.md
  .github/ISSUE_TEMPLATE/survey.md
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/user-story.md
Labels: Documentation, WebV

#16 WebV - DesignTemplate Update
  .github/ISSUE_TEMPLATE/designreview.md
Labels: Bug, Documentation, Pri1

#15 Added initial data validation
  .github/ISSUE_TEMPLATE/designreview.md
  README.md
  src/Program.cs
  src/TestFiles/bad.json
  src/TestFiles/benchmark.json
  src/TestFiles/rating.json
  src/WebValidation/Main.cs
  src/WebValidation/Model.cs
  src/WebValidation/Model/Perf.cs
  src/WebValidation/Model/Request.cs
  src/WebValidation/Model/Validation.cs
  src/WebValidation/ReadValidateJson.cs
  src/WebValidation/Validation.cs
  src/webvalidate.csproj
Labels: WebV

#23 added froyo test instructions as per Issue retaildevcrew/helium#251
  README.md
Labels: Documentation, Pri1, size: S

#27 Updated Standard Templates (Bug, Task, Release, DoD, Feature)
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/dod-review.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/release.md
  .github/ISSUE_TEMPLATE/task.md
Labels: Documentation, Pri1, WebV

#25 Qde3
  .github/workflows/dockerByPR.yml
  .github/workflows/dockerCI.old
  .github/workflows/dockerCI.yaml
  Dockerfile
  README.md
  src/app/TestFiles/actorById.json
  src/app/TestFiles/bad.json
  src/app/TestFiles/benchmark.json
  src/app/TestFiles/dotnet.json
  src/app/TestFiles/java.json
  src/app/TestFiles/movieById.json
  src/app/TestFiles/msft.json
  src/app/TestFiles/node.json
  src/app/WebValidation/Model/PerfLog.cs
  src/app/WebValidation/Model/Request.cs
  src/app/WebValidation/Model/Validation.cs
  src/app/WebValidation/WebVMain.cs
  src/app/WebValidation/WebVValidation.cs
  src/app/WebValidation/config.cs
Labels: WebV

#28 webv - PR branch qde4
  README.md
  src/app/GlobalSuppressions.cs
  src/app/Program.cs
  src/app/TestFiles/actorById.json
  src/app/TestFiles/foreach.json
  src/app/TestFiles/genres.json
  src/app/TestFiles/movieById.json
  src/app/TestFiles/year.json
  src/app/WebValidation/Model/JsonArray.cs
  src/app/WebValidation/Model/JsonPropertyByIndex.cs
  src/app/WebValidation/Model/Request.cs
  src/app/WebValidation/Model/Validation.cs
  src/app/WebValidation/WebVValidation.cs
  src/unit-tests/TestApp.cs
  src/unit-tests/TestJsonRead.cs
Labels: WebV
