Repository retaildevcrews/webvalidate, pull requests merged in 2020-03, with the labels that each got.

#32 webv add 400 and 404 test cases
  src/app/TestFiles/bad.json
  src/app/TestFiles/baseline.json
  src/app/TestFiles/benchmark.json
  src/app/TestFiles/rating.json
  src/app/WebValidation/Metrics.cs
Labels: WebV

#33 Qde7
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/comparison.md
  .github/ISSUE_TEMPLATE/task.md
  .github/workflows/dockerByPR.yml
  .github/workflows/dockerCI.old
  .github/workflows/dockerCI.yaml
  Dockerfile-e2e
  src/app/Program.cs
  src/app/TestFiles/bad.json
  src/app/Validators/ParametersValidator.cs
  src/app/WebValidation/Main.cs
  src/app/WebValidation/Model/ValidationResult.cs
Labels: WebV

#34 Qde8
  .github/PULL_REQUEST_TEMPLATE.md
  Dockerfile
  Dockerfile-e2e
  src/app/Program.cs
  src/app/TestFiles/dotnet.json
  src/app/TestFiles/node.json
  src/app/Validators/ParametersValidator.cs
  src/app/Validators/ResponseValidator.cs
  src/app/Version.cs
  src/app/WebValidation/Main.cs
  src/app/WebValidation/Model/JsonPropertyByIndex.cs
  src/app/WebValidation/Model/ValidationResult.cs
  src/app/webvalidate.csproj
  src/e2e-tests.sln
  src/e2e-tests/TestEndToEnd.cs
  src/e2e-tests/e2e-tests.csproj
  src/unit-tests/ParamValidatorTests/TestArrayValidator.cs
  src/unit-tests/ParamValidatorTests/TestCommonValidator.cs
  src/unit-tests/ParamValidatorTests/TestObjectValidator.cs
  src/unit-tests/TestApp.cs
  src/unit-tests/TestJsonRead.cs
Labels: WebV

#35 Array deep testing
  src/app/TestFiles/actorById.json
  src/app/TestFiles/bad.json
  src/app/TestFiles/baseline.json
  src/app/TestFiles/benchmark.json
  src/app/TestFiles/foreach.json
  src/app/TestFiles/genres.json
  src/app/TestFiles/movieById.json
  src/app/TestFiles/moviesByActorId.json
  src/app/TestFiles/rating.json
  src/app/TestFiles/search.json
  src/app/Validators/ResponseValidator.cs
  src/app/WebValidation/Main.cs
  src/unit-tests/TestApp.cs
  src/unit-tests/TestArrayValidator.cs
  src/unit-tests/TestCommonValidator.cs
  src/unit-tests/TestObjectValidator.cs
Labels: Bug, WebV

#39 validate byIndex parameter validator changes
  src/app/Program.cs
  src/app/Validators/ParametersValidator.cs
  src/unit-tests/TestArrayValidator.cs
Labels: Bug, Pri1, WebV

#41 Updated to latest IMDb data
  README.md
Labels: WebV
